/*** mobile styles first ***/

body {
    font-family: sans-serif;
    font-size: 18px;
    color: #111;
    height: 100vh;
}

.inner-container {
    padding: 16px;
}

/** typography **/

a {
    text-decoration: none;
    display: block;
    color: #1e1e1e;
}

/****  header ****/
header {
    background: url("https://source.unsplash.com/random") center bottom / cover no-repeat; /** image, position (x, y), size, repetition **/
    color: #fff;
    
    /* longhand
    background-image: url("https://source.unsplash.com/random");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat; 
    */
}

nav {
    display: flex;
    /* justify-content: space-between; */
    flex-flow: wrap;
    align-items: center;
}

nav a { 
    color: #fff;
    font-weight: bold;
}

.logo {
    font-size: 24px;
    line-height: 0.9;
    font-weight: bold;
    color: white;
    flex-basis: 10%;
}

.logo span {
    display: block;
}


.main-nav {
    display: flex;
    align-items: center;
    flex-basis: 90%;
}

/** only targets the first list-item in the ul **/
.main-nav li:first-child {
    margin-right: auto;
    margin-left: 0;
}

.main-nav li:first-child a {
    /** allows the first nave item and the svg to sit side-by-side **/
    display: flex;
    align-items: center;
    
}

svg {
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

.main-nav li {
    margin-left: 18px;
}

.main-nav a:hover {
    color: #00ff84;
}

/** sign-in btn **/
.main-nav li:last-child a {
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.main-nav li:last-child a:hover {
    background-color: #fff;
    color: #1e1e1e;
} 
